  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3><strong>Go Além do Básico:</strong> <br>Dominando a Programação com Go</h3>
            <p>Bem-vindos ao <strong>"Go Além do Básico: Dominando a Programação com Go"</strong>, um curso intensivo oferecido por Danilo Aparecido, professor e fundador do Torne-se um Programador. Este curso é projetado para mergulhar profundamente na linguagem de programação Go, desde os fundamentos até os conceitos avançados de desenvolvimento de software.</p>
            
            <h2>Por que escolher Go?</h2>
            <p>Go, ou Golang, é uma linguagem de programação moderna que combina simplicidade, robustez e desempenho. Criada pelo Google, ela é ideal para desenvolver aplicações escaláveis, serviços web e sistemas de alta concorrência. Neste curso, exploramos a filosofia por trás do Go, configuramos o ambiente de desenvolvimento e dominamos as ferramentas essenciais.</p>
            
            <h2>O que você vai aprender:</h2>
            <ol>
                <li><strong>Fundamentos do Go:</strong> Começamos com o básico – sintaxe, tipos de dados, estruturas de controle – e avançamos para tópicos mais complexos como arrays, slices, pointers, e muito mais.</li>
                <li><strong>Conceitos Avançados:</strong> Estruturas, interfaces, programação funcional versus imperativa, e os paradigmas de programação orientada a objetos são desvendados para proporcionar uma compreensão completa da linguagem.</li>
                <li><strong>Concorrência em Go:</strong> Um módulo inteiro dedicado à concorrência e paralelismo, explorando goroutines, canais e padrões de concorrência para criar aplicações eficientes e resilientes.</li>
                <li><strong>Desenvolvimento Web e Banco de Dados:</strong> Aprenda a construir servidores HTTP robustos, middleware, APIs REST, e a interagir com bancos de dados SQL e NoSQL, utilizando as melhores práticas de desenvolvimento.</li>
                <li><strong>Testes, Segurança e DevOps:</strong> Focado em criar aplicações seguras e confiáveis, cobrimos testes unitários, tratamento de erros, segurança em aplicações web, e automatização com Go.</li>
                <li><strong>Microserviços, Padrões de Projeto e Mais:</strong> Delve into microservices architecture, design patterns, cross-platform development, and how to utilize Go in a DevOps environment for CI/CD and automation.</li>
            </ol>

            <h2>Projeto Final:</h2>
            <p>O curso culmina em um projeto final, onde os alunos aplicam o conhecimento adquirido para planejar, desenvolver, e documentar uma aplicação completa em Go, aplicando as melhores práticas e padrões de design.</p>

            <h2>Participe da Comunidade:</h2>
            <p>Ao se juntar ao curso, você não apenas ganha acesso a um currículo abrangente, mas também se torna parte de uma comunidade ativa. Contribua para projetos open-source, compartilhe conhecimento, e cresça com o suporte de colegas e especialistas.</p>

            <p>Se você está pronto para levar suas habilidades de programação ao próximo nível e dominar Go, junte-se a nós em <strong>"Go Além do Básico: Dominando a Programação com Go"</strong>. Inscreva-se hoje e comece sua jornada para se tornar um desenvolvedor Go proficient!</p>
          </div>
        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("/public/assets/img/what-is-golang-1.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>

    </div>
  </section><!-- End Why Us Section -->
